.slider {
    position: relative;
    width: 100%;
    height: 2rem;
}

.slider__track,
.slider__range,
.slider__marker__box,
.slider__marker,
.slider__left-value,
.slider__right-value {
    position: absolute;
}

.slider__track,
.slider__range {
    border-radius: 3px;
    height: 5px;
}

.slider__marker__box {
    width: calc(100% - 14px);
    margin-left: 7px;
    margin-right: 7px;
}

.slider__marker {
    background-color: red;
    width: 3px;
    height: 30px;
    border-radius: 3px;
    left: 0;
    top: 2px;
    transform: translateY(-50%);
}

.slider__track {
    background-color: #ced4da;
    width: 100%;
    z-index: 1;
}

.slider__range {
    background-color: var(--bs-primary);
    z-index: 2;

    &.disabled {
        background-color: var(--bs-secondary);
    }
}

.slider__left-value,
.slider__right-value {
    margin-top: 0.5rem;
}

.slider__left-value {
    left: 6px;
}

.slider__right-value {
    right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: calc(100% - 28px);
    outline: none;
}

.thumb--left {
    z-index: 3;
}

.thumb--right {
    z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}
.thumb:not(:disabled)::-webkit-slider-thumb {
    background-color: var(--bs-primary);
}
.thumb:disabled::-webkit-slider-thumb {
    background-color: var(--bs-secondary);
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}
.thumb:not(:disabled)::-moz-range-thumb {
    background-color: var(--bs-primary);
}
.thumb:disabled::-moz-range-thumb {
    background-color: var(--bs-secondary);
}
